.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e3a8a, #06b6d4);
}

.full-width {
  width: 100%;
  display: block;
}

.login-box {
  display: flex;
  width: 800px;
  height: 420px; /* 🔥 fixa altura para alinhar */
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.left {
  flex: 1;
  background: #1e293b;
  color: white;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center; /* 🔥 centraliza vertical */
}

.login-card {
  flex: 1;
  padding: 40px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 🔥 alinha com o lado esquerdo */
}

.login-card h2 {
  margin-bottom: 20px;
}

.field {
  margin-bottom: 16px;
}

.password-field {
  position: relative;
}

.p-input-icon-left {
  width: 100%;
}

.password-field {
   width: 100%;
}

.p-input-icon-left > input {
  width: 100%;
}

.password-field .p-input-icon-left {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 80%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #94a3b8;
}

.options {
  display: flex;
  align-items: center;
  gap: 8px;
}

button {
  width: 100%;
  margin-top: 10px;
}

.error {
  color: #ef4444;
  margin-top: 10px;
  text-align: center;
}

/* animação */
.fade-in {
  animation: fadeIn 0.5s ease;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.links a {
  color: #3b82f6;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}